{% extends 'base.html.twig' %}

{% block title %}Detail de {{ entreprise }}{% endblock %}

{% block body %}
<div class="container">
    <h1>Detail de {{ entreprise }}</h1>
    <p>
        Adresse : {{ entreprise.adresseComplete }}<br>
        Date de création : {{ entreprise.dateCreation | date("d/m/y") }}
    </p>

    <h3>Liste des salariés</h3>
    {% if entreprise.employes | length > 0%}
    <table class=" table ">
        <thead>
            <tr>
                <th>Employe</th>
            </tr>
        </thead>
        <tbody>

                {% for employe in entreprise.employes %}
                    <tr><td><a href="{{ path('show_employe',{'id':employe.id}) }}">{{ employe }}</a></td></tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
    <p>Aucun salarié dans cette entreprise</p>
    {% endif %}
</div>
{% endblock %}
