{% extends 'base.html.twig' %}

{% block title %}Liste des employés{% endblock %}

{% block body %}
<div class="container">
    <h1>Liste des employés</h1>
    <table class="table table-bordered table-primary table-striped">
        {% for employe in employes %}
        <tr>
            <td><a href="{{ path('show_employe', {id:employe.id})}}">{{ employe }}</a></td>
            <td><a class="btn btn-warning" href="{{ path ('edit_employe', {'id': employe.id}) }}">Editer</a></td>
            <td><a class="btn btn-danger" href="{{ path ('delete_employe', {'id': employe.id}) }}">Supprimer</a></td>
        </tr>
        {% endfor %}
    </table>
    <a class="btn btn-success" href="{{path('new_employe')}}">Ajouter un employé</a><br>
</div>
{% endblock %}
     
   
    
